{% if user.is_authenticated %} 
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary btn-block border-0 {% include "_active_url.html" with url_name='index_posts' %}" role="button" href="{% url "index_posts" %}">All posts</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary btn-block border-0 {% include "_active_url.html" with url_name='subscriptions_posts' %}" role="button" href="{% url "subscriptions_posts" %}">Subscriptions</a>
        </div>
    </div>
{% endif %}