<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">the</span>post</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            <a href="{% url 'new_post' %}" class="btn btn-primary" role="button">Новая запись</a>
            <a href="{% url 'profile' user.username %}" class="btn btn-outline-info" role="button">@{{ user.username }}</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-warning" role="button">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary" role="button">Войти</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary" role="button">Регистрация</a>
        {% endif %}
    </nav>
</nav>