{% extends "base.html" %}
{% load filters %}

{% block head %}
	Последние записи
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-4 mb-3 mt-1">
            <div class="card  shadow-sm">
                <div class="card-body">
                    <div class="h2">
                        {{ author.first_name }} {{ author.last_name }}
                    </div>
                    <div class="h3 text-muted">
                        <a href="{% url 'profile' author.username %}">
                            @{{ author.username }}
                        </a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="h6 text">
                        <a href=# class="list-group-item list-group-item-action border-0">
                            Подписчиков: <span class="badge badge-light">XXX</span> <br />
                        </a>
                        <a href=# class="list-group-item list-group-item-action border-0">
                            Подписок: <span class="badge badge-light">XXX</span>
                        </a>
                        <a href=# class="list-group-item list-group-item-action border-0">
							{% load filters %}
                            Записей: <span class="badge badge-light"> {{ author | author_number_posts }} </span>
                        </a>
                    </div>
                    {% include "author_actions.html" with author=author user=user %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            {% for post in page %}
                {% include "post.html" with post=post %}
            {% endfor %}
            {% include "paginator.html" with items=posts paginator=paginator%}
        </div>
    </div>
</main>
{% endblock %}