{% load filters %}

<div class="card  shadow-sm">
    <div class="card-body">
        <div class="h2">
            {{ author.first_name }} {{ author.last_name }}
        </div>
        <div class="h6 text-muted">
            <a href="{% url 'profile_posts' author.username %}">
                @{{ author.username }}
            </a>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <div class="h6 text">
            <a href="{% url 'followers' author.username %}" class="list-group-item list-group-item-action {% include "_active_url.html" with url_name='followers' %} border-0 d-flex justify-content-between align-items-center">
                Subscribers:
                <span class="badge badge-light">
                    {{ author | follower_count }}
                </span>
            </a>
            <a href="{% url 'followees' author.username %}" class="list-group-item list-group-item-action {% include "_active_url.html" with url_name='following' %} border-0 d-flex justify-content-between align-items-center">
                Subscriptions:
                <span class="badge badge-light">
                    {{ author | followee_count }}
                </span>
            </a>
            <a href="{% url 'profile_posts' author.username %}" class="list-group-item list-group-item-action {% include "_active_url.html" with url_name='profile' %} border-0 d-flex justify-content-between align-items-center">
                Posts: <span class="badge badge-light"> {{ author | author_number_posts }} </span>
            </a>
        </div>
        {% include "author_actions.html" with author=author user=user %}
    </ul>
</div>