{% extends "base_form.html" %}

{% block title %}
    Reset password
{% endblock %}

{% block card_header %}
    Enter new password
{% endblock %}

{% block button %}
    Enter new password
{% endblock %}

{% block content %}
    {% if validlink %}
        {{block.super}}
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">Error</div>
                    <div class="card-body">
                        <p>The link is broken or expired.</p>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
{% endif %}
{% endblock %}
